@using Microsoft.AspNet.Identity
@using JobBoardFinalProject.DATA.EF;@*added for UserDetails to get FirstName, etc.*@

@if (Request.IsAuthenticated)
{

    FinalProjectEntities db = new FinalProjectEntities();
    string userID = User.Identity.GetUserId();//get current user's ID (GUID)
    UserDetail currentUser = db.UserDetails.Where(ud => ud.UserId == userID).FirstOrDefault();
    string userFN = "";

    if (currentUser != null)
    {
        userFN = currentUser.FirstName;
    }

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right">
            <li>
                @*Updating with custom user data*@
                @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                @Html.ActionLink($"Hello, {userFN}!", "Index", "Manage", routeValues: null, htmlAttributes: new { title="Manage"})
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
