@{
    ViewBag.Title = "About this Project";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
    @*<h3>@ViewBag.Message</h3>*@
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>My name is Emma Lintz, and I built this application for a Final Project as a requirement of graduating from Centriq Training's Full Stack Web Developer program. This secure data-driven ASP.NET MVC application was created from design through deployment. The project objective was to build an internal job board for employees to search available positions and to apply for a position with a single click. Managers are able to view applications for their location, and update the application statuses to Accepted, Declined, etc.</p>

        <p>If you would like to learn more about this application, or discuss any development roles for which I may be a good fit, please send a message using the Contact Me form, or connect with me on LinkedIn. I look forward to hearing from you!</p>

        <a class="button" href="~/Content/Documents/ProjectDocumentation4.23.20.pdf" target="_blank">View Documentation</a>

    </div>
</div>