@{
    ViewBag.Title = "Home";
}

@section Banner{
                    <!-- Banner -->
                <section id="banner">
                    <div class="content">
                        <header>
                            <h1>
                                Welcome to the Bright Horizons Bank Job Board!
                            </h1>
                            <p>Your dream job, a single click away</p>
                        </header>
                        <p>At Bright Horizons Bank, our team is our greatest asset. To demonstrate our commitment to you and your professional growth, we have made it easy realize your career goals. To search available opportunities across the entire BHB network, and apply with a single click, simply register for your account, upload your resume, and start searching!</p>
                        <ul class="actions">
                            @*<li>@Html.ActionLink("Register", "Register", "Account", new { @class = "button big" })</li>
                                <li>@Html.ActionLink("Login", "Login", "Account", new { @class = "button big" })</li>*@

                            @if (!Request.IsAuthenticated)
                            {
                                <li><a href="/Account/Register" class="button big">Register</a></li>
                                <li><a href="/Account/Login" class="button big">Login</a></li>
                            }
                            else
                            {
                                @*<li><a href="//Register" class="button big">Register</a></li>*@
                                <li>
                                    <a href="@Url.Action("Index", "OpenPositions")" class="button big">View Open Positions</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <span class="image object">
                        <img src="~/Content/images/razvan-chisu-Ua-agENjmI4-unsplash (1).jpg" alt="Man looking up to the sky with arms wide" />
                    </span>
                </section>

    }

